* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: $primary-font;
    font-size: 14px;
    color: $color-light-dark;
    font-weight: 400 !important;
}

a {
    text-decoration: none;
}