@font-face {
    font-family: $primary-font;
    src: url('#{$fonts-path}/circular-std/CircularStd-Black.woff') format('woff2'),
        url('#{$fonts-path}/circular-std/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// #{$fonts-path}/circular-std

@font-face {
    font-family: $primary-font;
    src: url('#{$fonts-path}/circular-std/CircularStd-Bold.woff2') format('woff2'),
        url('#{$fonts-path}/circular-std/CircularStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $primary-font;
    src: url('#{$fonts-path}/circular-std/CircularStd-Book.woff2') format('woff2'),
        url('#{$fonts-path}/circular-std/CircularStd-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:$primary-font;
    src: url('#{$fonts-path}/circular-std/CircularStd-Medium.woff2') format('woff2'),
        url('#{$fonts-path}/circular-std/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $secondary-font;
    src: url('#{$fonts-path}/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('#{$fonts-path}/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
