//font variables
$primary-font:'Circular';
$secondary-font:'Roboto';

// font path 
$fonts-path: "../fonts" !default;

//primary colors
$primary-color:#841e25;
$color-white: #fff;
$color-light-white:#cbcbcb;
$color-black: #000;
$color-light-blue:#002147;
$color-light-dark:#212529;
$color-light-grey: #CECECE;
$color-dark-grey: #494949;
$color-black-grey:#2d2d2d;
$color-dark:#040404;
$color-light-black:#7d7d7d;
$color-yellow:#ffba49;
$color-light-green:#70c217;
$color-green:#70ce88;
$color-charcoal:#373737;
$cool-grey:#34474f;
$color-whitesmoke:#fbf9f9;
$color-light-black:#00000070;
$clolor-light-blue:#4b647e;
$color-light-charcoal:#212121;
$color-orange:#ff5959;
$color-light-wheat:#fff4e5;
$color-blue:#5c96ff;
$color-light-whitesmoke:#f9f9ff;
$color-light-orange:#84251e52;
$color-lime:#70ce883f;
$color-lamon-yellow:#ffb9493d;


// icomoon icon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;
$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-book: "\e903";
$icon-documents: "\e904";
$icon-facebook: "\e905";
$icon-gmail: "\e906";
$icon-homeicon: "\e907";
$icon-location: "\e908";
$icon-lorem: "\e909";
$icon-phone: "\e90a";
$icon-search: "\e90b";
$icon-spiral: "\e90c";
$icon-twitter: "\e90d";
$icon-youtube: "\e90e";